/* Created by: Anastasiia Lebedenko
* Created on: Feb 2025
* This file contains the CSS for index.html
*/

body {
    background-color: bisque;
}

h1 {
    background-color: rgb(255, 113, 102);
    color: hsl(22, 75%, 64%) padding: 40px;
    text-align: center;
}

p {
    background-color: #c77e6f;
}